# Dictionary Comprehension

In [58]:
prices_in_rs = {'biryani':150, 
             'Tikka':[300,500],
             'Fish':500,
            'cofee': 200}

In [59]:
from math import *

In [60]:
floor(12.9)
ceil(12.1)

13

In [61]:
prices_in_dollars= {item:ceil((price/160)) 
                    for item,price in 
                    prices_in_rs.items()}

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [62]:
prices_in_dollars

{'biryani': 0.9375, 'Tikka': 1.875, 'Fish': 3.125, 'cofee': 1.25}

In [63]:
prices_in_dollars= {item:(price/160)
                    for item,price in 
                    prices_in_rs.items()}

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [64]:
prices_in_dollars

{'biryani': 0.9375, 'Tikka': 1.875, 'Fish': 3.125, 'cofee': 1.25}

In [65]:
updated_prices = {item:price+1 if price<1 else price for item,price in prices_in_dollars.items() }

In [66]:
updated_prices

{'biryani': 1.9375, 'Tikka': 1.875, 'Fish': 3.125, 'cofee': 1.25}

# A List of List:

In [67]:
listoflist=[ [11,22,33,44],
             [55,66,77,88],
             [1,2,3],
             ['a','b']
           ]

In [68]:
listoflist[-1][-1]

'b'

In [69]:
print(prices_in_rs)
print(prices_in_dollars)
print(updated_prices)

{'biryani': 150, 'Tikka': [300, 500], 'Fish': 500, 'cofee': 200}
{'biryani': 0.9375, 'Tikka': 1.875, 'Fish': 3.125, 'cofee': 1.25}
{'biryani': 1.9375, 'Tikka': 1.875, 'Fish': 3.125, 'cofee': 1.25}

# ListofDictionaries

In [71]:
listofDic = [updated_prices,
             prices_in_dollars,
             prices_in_rs]

In [74]:
listofDic[2]['Tikka'][0]

300

# DicionaryofDic

In [83]:
dicofdic={'saylani':
                  {'smit':['web','ds','ccna','ai'], 
                   'health':['opd', 'ot',]
                  },
           'University':
                  {'CS':['1st','2nd','3rd','4th'],
                  'admin':['fees', 'timetable','exams'] 
                   }
          }

In [77]:
'smit' in dicofdic['saylani']

True

In [84]:
dicofdic['University']['admin'][2]

'exams'

In [85]:
for pk,pv in dicofdic.items():
    if pk=="University":
        for uk,uv in dicofdic[pk].items():
            if uk=='admin':
                print('exams' in uv)

True

In [87]:
for v in dicofdic['University']["admin"]:
    if v=="exams":
        print('True')

True

In [89]:
a=10
if a==10:
    pass